@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none;
}

@layer utilities {
  .safe-b {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .no-select {
    -webkit-user-select: none;
    user-select: none;
  }
}
